@use "@scss/common" as *;


.mobileSlider {
  display: none;
  visibility: hidden;

  @include small-break {
    display: block;
    visibility: visible;
  }
}

.hr {
  margin: 0;
  margin-bottom: calc(var(--base) * 4);
  border-color: currentColor;

  @include mid-break {
      margin-bottom: calc(var(--base) * 2);
  }
}

.richText {
  margin-bottom: calc(var(--base) * 3);
  @include mid-break {
      margin-bottom: var(--base);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--gutter-h));
  height: 100%;
  margin-left: calc(var(--gutter-h) / -2);

  @include mid-break {
      margin-left: calc(var(--gutter-h) * -1);
      width: calc(100% + (var(--gutter-h) * 2));
  }
}

.cards {
  position: relative;
  padding: calc(var(--base) * 4) 0;
  row-gap: 1ch;
  display: grid;
  

  @include mid-break {
      padding: calc(var(--base) * 2) 0;
  }
}
.card {
  height: 100%;
  position: relative;
}

.track {
  width: 100%;
  scrollbar-width: none;
  padding: calc(var(--base) * 4) 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  padding: var(--base) ;
  // background-color: var(--color-base-200);
  text-align: center;

  // &:nth-child(even) {
  //   background-color: var(--color-base-700);
  // }
}

.dots {
  display: flex;
  margin-top: calc(var(--base) * 0.5);
  justify-content: center;
}

.dot {
  all: unset;
  cursor: pointer;
  width: calc(var(--base) * 0.5);
  height: calc(var(--base) * 0.5);
  background-color: var(--color-base-300);

  &:not(:last-child) {
    margin-right: calc(var(--base) * 0.25);
  }

  &:hover {
    background-color: var(--color-base-400);
  }

  @include mid-break {
    &:hover {
      background-color: var(--color-base-300); // disable hover on mobile
    }
  }
}

.dotIsActive {
  background-color: var(--color-base-500);
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-base-700);

      &:nth-child(even) {
        background-color: var(--color-base-800);
      }
    }

    .dot {
      background-color: var(--color-base-500);

      &:hover {
        background-color: var(--color-base-400);
      }

      @include mid-break {
        &:hover {
           background-color: var(--color-base-400); // disable hover on mobile
        }
      }
    }

    .dotIsActive {
      background-color: white ;
    }
  }
}


