@use '@scss/common.scss' as *;

.desktopNav {
  @include small-break {
    display: none;
    visibility: hidden;
  }
}

.grid {
  :local(a) {
    text-decoration: none;
  }
}

.container {
  position: relative;
}

.logo {
  width: calc(var(--gutter-h) / 2 - var(--base));
  height: 100%;
  position: absolute;
  left: calc(-1 * var(--base));
  display: flex;
  justify-content: flex-start;
  transform: translateX(-100%);
  top: -2px;

  svg {
    height: min-content;

  }

  @include large-break {
    position: static;
    left: 0;
    transform: unset;
    width: auto;
    margin-right: var(--base);
  }
}

.navItems {
  padding-left: 4rem;
  display: flex;

  :local(.navItem) {
    margin-right: calc(var(--base) * .75);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  @include large-break {
    justify-content: unset;
  }
}

.navCta {
 width: calc( var(--gutter-h) /2 - var(--base));
  width: max-content;
  position: absolute;
  right: calc(3*var(--base));
  // right: 1rem;
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  // transform: translateX(100%);
  top: 0;

  > * {
    margin-right: calc(var(--base) * .75);
    line-height: 1;
    
    &:last-child {
      margin-right: 0;
    }
  }

  @include large-break {
    position: static;
    right: 0;
    transform: unset;
    width: auto;
  }
}
.ctaItem {
  margin-right: calc(var(--base) * .75);
}
